## Retrieve interactions from BioGrid

In [4]:
import numpy as np
import pandas as pd
import os
import sys
import datetime
import time
import pickle
# import idconversion as idc
# from idconversion import idconversion as idc
from urllib.error import HTTPError

## Helper Functions

In [5]:
def time_stamper(tdate=datetime.datetime.now()):
    fmtdate = tdate.strftime('%Y-%m-%d.%H:%M:%S')
    return fmtdate

In [6]:
time_stamper(datetime.datetime.now())

'2019-06-28.15:22:28'

In [7]:
# dir(idc)

In [8]:
!ls

2018-12-18.210000_result_mapped.txt  bioigrid_list.txt
BioGridDataDec2018.ipynb	       mapping_table.csv
biogrid_to_uniprot.tab.gz	       result_mapped.txt

In [9]:
os.getcwd()

'/home/user/Notebooks2019/PhD/BioGrid/BioGrid'

In [10]:
!cat result_mapped.txt | cut -f 1,2 | head

yourlist:M201812188471C63D39733769F8E060B506551E1201F3EBJ	Entry
131072	Q86XK7
131079	Q5VW00
131082	Q6ZR62
131091	Q5GFL6
131092	Q8WY41
131098	A6NHT5
131110	Q6ZRI0
131112	P59894
131113	Q8IXP5

In [11]:
# idc.show_mapping_table()

In [12]:
# Datadir = '/Users/ken/Documents/From_KEN_MAC/2018Data'
Datadir = '/media/user/FAT_BOY/2018LITTLEMAN_EXT/2018Data'

In [13]:
biogridfile = os.path.join(Datadir, "BIOGRID-ALL-3.5.165.tab2.txt")

In [14]:
df = pd.read_csv(biogridfile, sep='\t')

/home/user/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (1,2,18) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [15]:
df.head(2)

,#BioGRID Interaction ID,Entrez Gene Interactor A,Entrez Gene Interactor B,BioGRID ID Interactor A,BioGRID ID Interactor B,Systematic Name Interactor A,Systematic Name Interactor B,Official Symbol Interactor A,Official Symbol Interactor B,Synonyms Interactor A,...,Pubmed ID,Organism Interactor A,Organism Interactor B,Throughput,Score,Modification,Phenotypes,Qualifications,Tags,Source Database
0,103,6416,2318,112315,108607,-,-,MAP2K4,FLNC,JNKK|JNKK1|MAPKK4|MEK4|MKK4|PRKMK4|SAPKK-1|SAP...,...,9006895,9606,9606,Low Throughput,-,-,-,-,-,BIOGRID
1,117,84665,88,124185,106603,-,-,MYPN,ACTN2,CMD1DD|CMH22|MYOP|RCM4,...,11309420,9606,9606,Low Throughput,-,-,-,-,-,BIOGRID

## Get interactors

In [16]:
df.columns

Index(['#BioGRID Interaction ID', 'Entrez Gene Interactor A',
       'Entrez Gene Interactor B', 'BioGRID ID Interactor A',
       'BioGRID ID Interactor B', 'Systematic Name Interactor A',
       'Systematic Name Interactor B', 'Official Symbol Interactor A',
       'Official Symbol Interactor B', 'Synonyms Interactor A',
       'Synonyms Interactor B', 'Experimental System',
       'Experimental System Type', 'Author', 'Pubmed ID',
       'Organism Interactor A', 'Organism Interactor B', 'Throughput', 'Score',
       'Modification', 'Phenotypes', 'Qualifications', 'Tags',
       'Source Database'],
      dtype='object')

In [17]:
len(df['Organism Interactor A'].unique().tolist())

62

In [18]:
df.shape

(1583787, 24)

## Get Human Interactions

In [19]:
human_mask = (df['Organism Interactor A'] == 9606) & (df['Organism Interactor B'] == 9606)

In [20]:
df_human = df.loc[human_mask].reset_index()

In [21]:
df_human = df_human.drop(['index'], axis=1)

In [22]:
df_human.shape

(409173, 24)

In [23]:
df_human.head(2)

,#BioGRID Interaction ID,Entrez Gene Interactor A,Entrez Gene Interactor B,BioGRID ID Interactor A,BioGRID ID Interactor B,Systematic Name Interactor A,Systematic Name Interactor B,Official Symbol Interactor A,Official Symbol Interactor B,Synonyms Interactor A,...,Pubmed ID,Organism Interactor A,Organism Interactor B,Throughput,Score,Modification,Phenotypes,Qualifications,Tags,Source Database
0,103,6416,2318,112315,108607,-,-,MAP2K4,FLNC,JNKK|JNKK1|MAPKK4|MEK4|MKK4|PRKMK4|SAPKK-1|SAP...,...,9006895,9606,9606,Low Throughput,-,-,-,-,-,BIOGRID
1,117,84665,88,124185,106603,-,-,MYPN,ACTN2,CMD1DD|CMH22|MYOP|RCM4,...,11309420,9606,9606,Low Throughput,-,-,-,-,-,BIOGRID

In [24]:
df_human['Experimental System'].unique()

array(['Two-hybrid', 'Affinity Capture-Western', 'Reconstituted Complex',
       'FRET', 'Co-purification', 'Protein-peptide', 'Co-localization',
       'Affinity Capture-MS', 'Biochemical Activity',
       'Affinity Capture-RNA', 'Co-crystal Structure', 'Far Western',
       'Phenotypic Enhancement', 'Phenotypic Suppression',
       'Co-fractionation', 'Protein-RNA', 'Synthetic Rescue',
       'Affinity Capture-Luminescence', 'PCA', 'Dosage Rescue',
       'Negative Genetic', 'Dosage Lethality', 'Synthetic Growth Defect',
       'Proximity Label-MS', 'Synthetic Lethality', 'Positive Genetic'],
      dtype=object)

In [25]:
sub_mask = ['BioGRID ID Interactor A','BioGRID ID Interactor B', 
            'Experimental System Type', 'Score', 'Pubmed ID']

In [26]:
df_human_exp = df_human.loc[:,sub_mask]

In [27]:
df_human_exp.columns = ["BiogridA", "BiogridB", "ExperimentalSystem", "Score" ,"PubmedId"]

In [28]:
df_human_exp.head(2)

   BiogridA  BiogridB ExperimentalSystem Score  PubmedId
0    112315    108607           physical     -   9006895
1    124185    106603           physical     -  11309420

In [29]:
# df_human_exp['Score'].unique().tolist()

In [30]:
lsa = df_human_exp['BiogridA'].unique().tolist()
lsb = df_human_exp['BiogridB'].unique().tolist()

In [31]:
lsfull = set(lsa).union(set(lsb))

In [32]:
len(lsfull)

17299

In [33]:
lsN = list(set(lsa + lsb))

In [34]:
len(lsN)

17299

## Write BioGRID ids to a file

In [35]:
with open("bioigrid_list.txt", "w") as infile:
    for i in list(lsfull):
        infile.write("{}\n".format(i))

## Read mapped BioGRID IDs

In [36]:
mappedfile = os.path.join(os.path.curdir, "biogrid_to_uniprot.tab.gz")

In [37]:
dfmap = pd.read_csv(mappedfile, compression='gzip', sep='\t')

In [38]:
dfmap.head(2)

,yourlist:M20190627E5A08BB0B2D1C45B0C7BC3B55FD265562430386,Entry,Entry name,Status,Protein names,Gene names,Organism,Length
0,131072,Q86XK7,VSIG1_HUMAN,reviewed,V-set and immunoglobulin domain-containing pro...,VSIG1 GPA34,Homo sapiens (Human),387
1,131079,Q5VW00,DC122_HUMAN,reviewed,DDB1- and CUL4-associated factor 12-like prote...,DCAF12L2 WDR40C,Homo sapiens (Human),463

In [39]:
dfmap.rename(columns={'yourlist:M20190627E5A08BB0B2D1C45B0C7BC3B55FD265562430386':'BiogridID', 
                     'Entry':"UniprotID"}, inplace=True)

dfmap.shape

In [40]:
dfmap.shape

(16145, 8)

In [41]:
dfmap.head(3)

,BiogridID,UniprotID,Entry name,Status,Protein names,Gene names,Organism,Length
0,131072,Q86XK7,VSIG1_HUMAN,reviewed,V-set and immunoglobulin domain-containing pro...,VSIG1 GPA34,Homo sapiens (Human),387
1,131079,Q5VW00,DC122_HUMAN,reviewed,DDB1- and CUL4-associated factor 12-like prote...,DCAF12L2 WDR40C,Homo sapiens (Human),463
2,131082,Q6ZR62,RTL4_HUMAN,reviewed,Retrotransposon Gag-like protein 4 (Mammalian ...,RTL4 MAR3 MART4 ZCCHC16,Homo sapiens (Human),310

In [42]:
# dfmap.set_index('BiogridID', inplace=True)

In [43]:
dfmap.head(2)

,BiogridID,UniprotID,Entry name,Status,Protein names,Gene names,Organism,Length
0,131072,Q86XK7,VSIG1_HUMAN,reviewed,V-set and immunoglobulin domain-containing pro...,VSIG1 GPA34,Homo sapiens (Human),387
1,131079,Q5VW00,DC122_HUMAN,reviewed,DDB1- and CUL4-associated factor 12-like prote...,DCAF12L2 WDR40C,Homo sapiens (Human),463

## Obtain data with repeating IDs

In [44]:
df_repeats = dfmap.loc[dfmap['BiogridID'].apply(lambda x: len(x.split(',')) >1)]

In [45]:
df_repeats.shape

(92, 8)

In [46]:
df_repeats.head()

,BiogridID,UniprotID,Entry name,Status,Protein names,Gene names,Organism,Length
205,"132127,132129",P60411,KR109_HUMAN,reviewed,Keratin-associated protein 10-9 (High sulfur k...,KRTAP10-9 KAP10.9 KAP18-9 KRTAP10.9 KRTAP18-9 ...,Homo sapiens (Human),292
221,"132320,132321",A5PLL7,TM189_HUMAN,reviewed,Transmembrane protein 189,TMEM189 KUA,Homo sapiens (Human),270
544,"608768,610778",Q6P1K8,T2H2L_HUMAN,reviewed,General transcription factor IIH subunit 2-lik...,GTF2H2C; GTF2H2C_2 GTF2H2D,Homo sapiens (Human),395
551,"132044,1529300",Q8N2Z9,CENPS_HUMAN,reviewed,Centromere protein S (CENP-S) (Apoptosis-induc...,CENPS APITD1 FAAP16 MHF1,Homo sapiens (Human),138
552,"131507,1529312",Q7Z6K5,ARPIN_HUMAN,reviewed,Arpin (Arp2/3 inhibition protein),ARPIN C15orf38,Homo sapiens (Human),226

## Split repeats

In [47]:
df_repeats_split = df_repeats.BiogridID.apply(pd.Series).\
    merge(df_repeats, right_index = True, left_index = True).\
    drop(['BiogridID'], axis=1).\
    melt(id_vars = ['UniprotID', 0], value_name = 'Gene')
#     drop('variable', axis=1)

In [48]:
df_repeats_split.head()

  UniprotID               0    variable         Gene
0    P60411   132127,132129  Entry name  KR109_HUMAN
1    A5PLL7   132320,132321  Entry name  TM189_HUMAN
2    Q6P1K8   608768,610778  Entry name  T2H2L_HUMAN
3    Q8N2Z9  132044,1529300  Entry name  CENPS_HUMAN
4    Q7Z6K5  131507,1529312  Entry name  ARPIN_HUMAN

In [49]:
dict_repeats ={}
for _, row in df_repeats.iterrows():
    ids, protein = str(row.BiogridID).split(','), row.UniprotID
    for  id in ids:
        dict_repeats[id]=[protein]
        print(id, protein)
    print("="*10)

132127 P60411
132129 P60411
==========
132320 A5PLL7
132321 A5PLL7
==========
608768 Q6P1K8
610778 Q6P1K8
==========
132044 Q8N2Z9
1529300 Q8N2Z9
==========
131507 Q7Z6K5
1529312 Q7Z6K5
==========
106773 P04745
106774 P04745
106775 P04745
==========
1529410 P35226
107116 P35226
==========
107181 P0C0L4
107182 P0C0L4
==========
139227 P12532
107579 P12532
==========
107829 P0DML3
107830 P0DML3
==========
755774 P30046
108018 P30046
==========
608786 P59665
108031 P59665
==========
1529403 P49356
108627 P49356
==========
608768 Q13888
109221 Q13888
==========
109272 P84243
109273 P84243
==========
109289 P69905
109290 P69905
==========
109662 P01562
109670 P01562
==========
110005 P43631
110008 P43631
==========
608698 P43362
110282 P43362
==========
938509 Q02080
110371 Q02080
==========
1529413 P41271
110761 P41271
==========
3195276 Q15269
111780 Q15269
==========
1529331 P18621
112059 P18621
==========
112490 Q16637
112491 Q16637
==========
608281 Q16385
112635 Q16385
==========
138644 P0DMM9
112687 P0DMM9
==========
138644 P0DMN0
112687 P0DMN0
==========
132321 Q13404
113183 Q13404
==========
112145 P62854
3193504 P62854
==========
109266 P04908
113931 P04908
==========
593221 Q6FI13
113933 Q6FI13
==========
109270 P62807
113935 P62807
113939 P62807
113940 P62807
113942 P62807
113943 P62807
==========
936685 P0C869
114229 P0C869
==========
1529357 Q8N4A0
114240 Q8N4A0
==========
113946 P68431
113948 P68431
113949 P68431
113947 P68431
113950 P68431
113951 P68431
113952 P68431
113954 P68431
113953 P68431
114458 P68431
==========
113925 P0C0S8
113926 P0C0S8
113928 P0C0S8
113932 P0C0S8
114459 P0C0S8
==========
131701 O14598
114540 O14598
==========
1529294 P59998
115400 P59998
==========
107321 P35520
3195666 P35520
==========
113157 Q01081
3195698 Q01081
==========
1529298 Q96PK6
115700 Q96PK6
==========
138657 Q9Y2D5
116386 Q9Y2D5
==========
1529341 Q6P1K2
116405 Q6P1K2
==========
608549 P13928
575558 P13928
==========
575500 Q9HD64
575617 Q9HD64
==========
110154 P47929
575831 P47929
==========
109208 P0CG30
575985 P0CG30
==========
110895 P22392
576341 P22392
==========
139268 Q9H3K6
576388 Q9H3K6
==========
131694 Q86XR7
970651 Q86XR7
==========
609133 Q9NS26
119032 Q9NS26
==========
970651 Q9Y3B3
119221 Q9Y3B3
==========
575849 B7ZAQ6
119554 B7ZAQ6
==========
575849 P0CG08
119554 P0CG08
==========
1529307 Q9Y3E7
119660 Q9Y3E7
==========
108282 Q9NY65
119733 Q9NY65
==========
135698 Q8IWZ3
120230 Q8IWZ3
==========
3190820 Q9NVU0
120840 Q9NVU0
==========
608771 Q9GZY0
121026 Q9GZY0
==========
593098 Q9NQ55
121141 Q9NQ55
==========
1529628 Q9ULR0
121531 Q9ULR0
==========
1529617 Q9NYW8
121759 Q9NYW8
==========
1529332 Q9GZN2
121908 Q9GZN2
==========
113029 P20231
122201 P20231
==========
139225 Q9BQ83
122479 Q9BQ83
==========
3190353 Q9BTE6
123290 Q9BTE6
==========
608671 Q96JG8
123521 Q96JG8
==========
609938 Q99666
123954 Q99666
==========
117579 Q96JN0
124093 Q96JN0
==========
110409 Q96PC5
125559 Q96PC5
==========
299853 P62805
113899 P62805
113955 P62805
113957 P62805
113956 P62805
113958 P62805
113960 P62805
113959 P62805
113961 P62805
113962 P62805
113964 P62805
113966 P62805
113963 P62805
125732 P62805
==========
609653 P86478
125761 P86478
==========
609653 P86479
125761 P86479
==========
609653 P86480
125761 P86480
==========
609653 P86481
125761 P86481
==========
609653 P86496
125761 P86496
==========
139024 Q8WTQ1
126629 Q8WTQ1
==========
123498 P0CAP1
126937 P0CAP1
==========
1529322 Q8NBE8
127354 Q8NBE8
==========
3190610 Q96HJ9
127556 Q96HJ9
==========
124576 Q96LI6
127733 Q96LI6
==========
576546 Q9UBD0
325062 Q9UBD0
==========
114819 Q9Y6F7
128481 Q9Y6F7
==========
138650 Q5JTY5
128658 Q5JTY5
==========
119643 P86790
128773 P86790
==========
119643 P86791
128773 P86791
==========
608628 B2RC85
128823 B2RC85
==========
139239 Q9GZM3
128910 Q9GZM3
==========
114541 Q9Y6F8
128959 Q9Y6F8
==========
110275 P43356
129334 P43356
==========
127994 Q6ZTR5
130387 Q6ZTR5
==========
575920 Q71DI3
126025 Q71DI3
130616 Q71DI3
==========

In [50]:
dict_repeats

{'132127': ['P60411'],
 '132129': ['P60411'],
 '132320': ['A5PLL7'],
 '132321': ['Q13404'],
 '608768': ['Q13888'],
 '610778': ['Q6P1K8'],
 '132044': ['Q8N2Z9'],
 '1529300': ['Q8N2Z9'],
 '131507': ['Q7Z6K5'],
 '1529312': ['Q7Z6K5'],
 '106773': ['P04745'],
 '106774': ['P04745'],
 '106775': ['P04745'],
 '1529410': ['P35226'],
 '107116': ['P35226'],
 '107181': ['P0C0L4'],
 '107182': ['P0C0L4'],
 '139227': ['P12532'],
 '107579': ['P12532'],
 '107829': ['P0DML3'],
 '107830': ['P0DML3'],
 '755774': ['P30046'],
 '108018': ['P30046'],
 '608786': ['P59665'],
 '108031': ['P59665'],
 '1529403': ['P49356'],
 '108627': ['P49356'],
 '109221': ['Q13888'],
 '109272': ['P84243'],
 '109273': ['P84243'],
 '109289': ['P69905'],
 '109290': ['P69905'],
 '109662': ['P01562'],
 '109670': ['P01562'],
 '110005': ['P43631'],
 '110008': ['P43631'],
 '608698': ['P43362'],
 '110282': ['P43362'],
 '938509': ['Q02080'],
 '110371': ['Q02080'],
 '1529413': ['P41271'],
 '110761': ['P41271'],
 '3195276': ['Q15269'],
 '111780': ['Q15269'],
 '1529331': ['P18621'],
 '112059': ['P18621'],
 '112490': ['Q16637'],
 '112491': ['Q16637'],
 '608281': ['Q16385'],
 '112635': ['Q16385'],
 '138644': ['P0DMN0'],
 '112687': ['P0DMN0'],
 '113183': ['Q13404'],
 '112145': ['P62854'],
 '3193504': ['P62854'],
 '109266': ['P04908'],
 '113931': ['P04908'],
 '593221': ['Q6FI13'],
 '113933': ['Q6FI13'],
 '109270': ['P62807'],
 '113935': ['P62807'],
 '113939': ['P62807'],
 '113940': ['P62807'],
 '113942': ['P62807'],
 '113943': ['P62807'],
 '936685': ['P0C869'],
 '114229': ['P0C869'],
 '1529357': ['Q8N4A0'],
 '114240': ['Q8N4A0'],
 '113946': ['P68431'],
 '113948': ['P68431'],
 '113949': ['P68431'],
 '113947': ['P68431'],
 '113950': ['P68431'],
 '113951': ['P68431'],
 '113952': ['P68431'],
 '113954': ['P68431'],
 '113953': ['P68431'],
 '114458': ['P68431'],
 '113925': ['P0C0S8'],
 '113926': ['P0C0S8'],
 '113928': ['P0C0S8'],
 '113932': ['P0C0S8'],
 '114459': ['P0C0S8'],
 '131701': ['O14598'],
 '114540': ['O14598'],
 '1529294': ['P59998'],
 '115400': ['P59998'],
 '107321': ['P35520'],
 '3195666': ['P35520'],
 '113157': ['Q01081'],
 '3195698': ['Q01081'],
 '1529298': ['Q96PK6'],
 '115700': ['Q96PK6'],
 '138657': ['Q9Y2D5'],
 '116386': ['Q9Y2D5'],
 '1529341': ['Q6P1K2'],
 '116405': ['Q6P1K2'],
 '608549': ['P13928'],
 '575558': ['P13928'],
 '575500': ['Q9HD64'],
 '575617': ['Q9HD64'],
 '110154': ['P47929'],
 '575831': ['P47929'],
 '109208': ['P0CG30'],
 '575985': ['P0CG30'],
 '110895': ['P22392'],
 '576341': ['P22392'],
 '139268': ['Q9H3K6'],
 '576388': ['Q9H3K6'],
 '131694': ['Q86XR7'],
 '970651': ['Q9Y3B3'],
 '609133': ['Q9NS26'],
 '119032': ['Q9NS26'],
 '119221': ['Q9Y3B3'],
 '575849': ['P0CG08'],
 '119554': ['P0CG08'],
 '1529307': ['Q9Y3E7'],
 '119660': ['Q9Y3E7'],
 '108282': ['Q9NY65'],
 '119733': ['Q9NY65'],
 '135698': ['Q8IWZ3'],
 '120230': ['Q8IWZ3'],
 '3190820': ['Q9NVU0'],
 '120840': ['Q9NVU0'],
 '608771': ['Q9GZY0'],
 '121026': ['Q9GZY0'],
 '593098': ['Q9NQ55'],
 '121141': ['Q9NQ55'],
 '1529628': ['Q9ULR0'],
 '121531': ['Q9ULR0'],
 '1529617': ['Q9NYW8'],
 '121759': ['Q9NYW8'],
 '1529332': ['Q9GZN2'],
 '121908': ['Q9GZN2'],
 '113029': ['P20231'],
 '122201': ['P20231'],
 '139225': ['Q9BQ83'],
 '122479': ['Q9BQ83'],
 '3190353': ['Q9BTE6'],
 '123290': ['Q9BTE6'],
 '608671': ['Q96JG8'],
 '123521': ['Q96JG8'],
 '609938': ['Q99666'],
 '123954': ['Q99666'],
 '117579': ['Q96JN0'],
 '124093': ['Q96JN0'],
 '110409': ['Q96PC5'],
 '125559': ['Q96PC5'],
 '299853': ['P62805'],
 '113899': ['P62805'],
 '113955': ['P62805'],
 '113957': ['P62805'],
 '113956': ['P62805'],
 '113958': ['P62805'],
 '113960': ['P62805'],
 '113959': ['P62805'],
 '113961': ['P62805'],
 '113962': ['P62805'],
 '113964': ['P62805'],
 '113966': ['P62805'],
 '113963': ['P62805'],
 '125732': ['P62805'],
 '609653': ['P86496'],
 '125761': ['P86496'],
 '139024': ['Q8WTQ1'],
 '126629': ['Q8WTQ1'],
 '123498': ['P0CAP1'],
 '126937': ['P0CAP1'],
 '1529322': ['Q8NBE8'],
 '127354': ['Q8NBE8'],
 '3190610': ['Q96HJ9'],
 '127556': ['Q96HJ9'],
 '124576': ['Q96LI6'],
 '127733': ['Q96LI6'],
 '576546': ['Q9UBD0'],
 '325062': ['Q9UBD0'],
 '114819': ['Q9Y6F7'],
 '128481': ['Q9Y6F7'],
 '138650': ['Q5JTY5'],
 '128658': ['Q5JTY5'],
 '119643': ['P86791'],
 '128773': ['P86791'],
 '608628': ['B2RC85'],
 '128823': ['B2RC85'],
 '139239': ['Q9GZM3'],
 '128910': ['Q9GZM3'],
 '114541': ['Q9Y6F8'],
 '128959': ['Q9Y6F8'],
 '110275': ['P43356'],
 '129334': ['P43356'],
 '127994': ['Q6ZTR5'],
 '130387': ['Q6ZTR5'],
 '575920': ['Q71DI3'],
 '126025': ['Q71DI3'],
 '130616': ['Q71DI3']}

## Create dictionary from single ids

In [51]:
dfsingle = dfmap.loc[~dfmap['BiogridID'].apply(lambda x: len(x.split(',')) >1)]

In [52]:
dfsingle.shape

(16053, 8)

In [53]:
idgroup = dfsingle.groupby(['BiogridID'])['UniprotID']

In [54]:
dict_singles = {k:list(v) for k, v in idgroup}

In [55]:
len(dict_singles)

16010

In [56]:
dict_singles

{'106523': ['P04217'],
 '106524': ['P01023'],
 '106527': ['P18440'],
 '106528': ['P11245'],
 '106530': ['P01011'],
 '106532': ['Q13685'],
 '106533': ['Q16613'],
 '106534': ['P49588'],
 '106536': ['P80404'],
 '106537': ['O95477'],
 '106538': ['Q9BZC7'],
 '106539': ['Q99758'],
 '106540': ['O75027'],
 '106541': ['Q8NE71'],
 '106542': ['P78363'],
 '106543': ['P00519'],
 '106544': ['P19801'],
 '106545': ['P42684'],
 '106546': ['P16442'],
 '106547': ['Q12979'],
 '106548': ['P09110'],
 '106549': ['Q13085'],
 '106550': ['O00763'],
 '106551': ['P28330'],
 '106552': ['P11310'],
 '106553': ['P16219'],
 '106554': ['P45954'],
 '106555': ['P49748'],
 '106556': ['P24752'],
 '106557': ['Q9BWD1'],
 '106558': ['Q16515'],
 '106559': ['P78348'],
 '106561': ['P22303'],
 '106563': ['P53396'],
 '106564': ['P21399'],
 '106565': ['P10323'],
 '106566': ['Q99798'],
 '106567': ['Q15067'],
 '106568': ['P24666'],
 '106569': ['P11117'],
 '106570': ['P13686'],
 '106571': ['P15309'],
 '106573': ['P68133'],
 '106574': ['P62736'],
 '106575': ['P60709'],
 '106585': ['P68032'],
 '106586': ['P63261'],
 '106587': ['P63267'],
 '106596': ['O43707'],
 '106601': ['O96019'],
 '106602': ['P12814'],
 '106603': ['P35609'],
 '106604': ['Q08043'],
 '106605': ['Q04771'],
 '106606': ['P36896'],
 '106607': ['P27037'],
 '106608': ['Q13705'],
 '106609': ['P37023'],
 '106610': ['Q03154'],
 '106612': ['P07311'],
 '106613': ['P14621'],
 '106614': ['P00813'],
 '106615': ['P78325'],
 '106616': ['O14672'],
 '106617': ['P55265'],
 '106618': ['P78563'],
 '106619': ['Q9NS39'],
 '106621': ['Q08828'],
 '106622': ['Q08462'],
 '106623': ['O60266'],
 '106624': ['O95622'],
 '106625': ['O43306'],
 '106626': ['P51828'],
 '106627': ['P40145'],
 '106628': ['O60503'],
 '106629': ['P18509'],
 '106630': ['P41586'],
 '106631': ['P35611'],
 '106632': ['P35612'],
 '106633': ['Q9UEY8'],
 '106635': ['Q99541'],
 '106636': ['P07327'],
 '106637': ['P00325'],
 '106638': ['P00326'],
 '106639': ['P08319'],
 '106640': ['P11766'],
 '106642': ['P28332'],
 '106643': ['P40394'],
 '106644': ['P55263'],
 '106645': ['P35318'],
 '106646': ['P30542'],
 '106647': ['P29274'],
 '106648': ['P29275'],
 '106651': ['P54922'],
 '106652': ['P09874'],
 '106653': ['Q9UKK3'],
 '106656': ['P25100'],
 '106657': ['P35368'],
 '106658': ['P35348'],
 '106659': ['P08913'],
 '106660': ['P18089'],
 '106661': ['P18825'],
 '106662': ['P08588'],
 '106663': ['P07550'],
 '106664': ['P13945'],
 '106665': ['P25098'],
 '106666': ['P35626'],
 '106667': ['P30566'],
 '106668': ['P30520'],
 '106669': ['O95782'],
 '106670': ['O94973'],
 '106671': ['Q10567'],
 '106672': ['P63010'],
 '106673': ['O43747'],
 '106674': ['Q8IUX7'],
 '106675': ['Q08117'],
 '106681': ['P43652'],
 '106682': ['P02771'],
 '106683': ['P20933'],
 '106685': ['Q15109'],
 '106686': ['P35573'],
 '106688': ['O00253'],
 '106689': ['P78504'],
 '106690': ['P01019'],
 '106691': ['P30556'],
 '106692': ['P50052'],
 '106693': ['P35414'],
 '106694': ['P21549'],
 '106695': ['P51843'],
 '106696': ['P23526'],
 '106699': ['P35869'],
 '106700': ['P02765'],
 '106702': ['P55008'],
 '106705': ['Q9Y4K1'],
 '106706': ['P00568'],
 '106707': ['P54819'],
 '106708': ['P27144'],
 '106710': ['P31749'],
 '106711': ['P31751'],
 '106712': ['P13716'],
 '106713': ['P13196'],
 '106714': ['P22557'],
 '106715': ['P02768'],
 '106716': ['Q13740'],
 '106717': ['P33897'],
 '106718': ['P00352'],
 '106719': ['P05091'],
 '106720': ['P30838'],
 '106721': ['P30837'],
 '106722': ['P47895'],
 '106723': ['P43353'],
 '106724': ['P48448'],
 '106725': ['P49189'],
 '106726': ['P51648'],
 '106727': ['Q9UBJ2'],
 '106728': ['P04075'],
 '106730': ['P05062'],
 '106731': ['P09972'],
 '106732': ['P15121'],
 '106739': ['Q9UM73'],
 '106740': ['P18054'],
 '106741': ['P09917'],
 '106742': ['P20292'],
 '106743': ['O75342'],
 '106747': ['P16050'],
 '106748': ['O15296'],
 '106749': ['P09923'],
 '106750': ['P05186'],
 '106751': ['P05187'],
 '106752': ['P10696'],
 '106755': ['O95076'],
 '106756': ['Q9NP70'],
 '106757': ['P02760'],
 '106759': ['P17707'],
 '106764': ['Q9UKV5'],
 '106765': ['P03971'],
 '106766': ['Q16671'],
 '106767': ['P23109'],
 '106768': ['Q01433'],
 '106769': ['Q01432'],
 '106770': ['P49418'],
 '106771': ['O00499'],
 '106772': ['P48728'],
 '106776': ['P04746'],
 '106777': ['P19961'],
 '106780': ['P03950'],
 '106781': ['Q15389'],
 '106782': ['O15123'],
 '106783': ['P16157'],
 '106784': ['Q01484'],
 '106785': ['Q12955'],
 '106787': ['P15144'],
 '106788': ['P12235'],
 '106789': ['P05141'],
 '106790': ['P12236'],
 '106798': ['P04083'],
 '106799': ['P07355'],
 '106803': ['P12429'],
 '106804': ['P09525'],
 '106805': ['P08758'],
 '106806': ['P08133'],
 '106807': ['P20073'],
 '106808': ['P50995'],
 '106809': ['P27216'],
 '106811': ['O75106'],
 '106813': ['Q06278'],
 '106814': ['O14727'],
 '106815': ['P50583'],
 '106816': ['Q13790'],
 '106817': ['Q02410'],
 '106818': ['Q99767'],
 '106819': ['O00213'],
 '106820': ['Q92870'],
 '106821': ['P25054'],
 '106822': ['P02743'],
 '106823': ['O43918'],
 '106824': ['P13798'],
 '106825': ['P27695'],
 '106826': ['Q13490'],
 '106827': ['Q13489'],
 '106828': ['P98170'],
 '106829': ['O15392'],
 '106830': ['P51693'],
 '106831': ['Q06481'],
 '106832': ['P02647'],
 '106833': ['P02652'],
 '106835': ['P04114'],
 '106836': ['P41238'],
 '106838': ['P02654'],
 '106841': ['P02655'],
 '106842': ['P02656'],
 '106843': ['P55056'],
 '106844': ['P05090'],
 '106845': ['P02649'],
 '106847': ['P02749'],
 '106848': ['P05067'],
 '106849': ['P07741'],
 '106850': ['P07288'],
 '106851': ['P25445'],
 '106852': ['P48023'],
 '106853': ['Q13796'],
 '106854': ['P29972'],
 '106855': ['P41181'],
 '106856': ['Q92482'],
 '106857': ['P55087'],
 '106858': ['P55064'],
 '106861': ['O43315'],
 '106862': ['P10275'],
 '106863': ['O95255'],
 '106864': ['P10398'],
 '106867': ['P48444'],
 '106868': ['P36406'],
 '106869': ['P15514'],
 '106870': ['P84077'],
 '106872': ['P61204'],
 '106873': ['P18085'],
 '106874': ['P49703'],
 '106876': ['P84085'],
 '106877': ['P62330'],
 '106878': ['P05089'],
 '106879': ['P78540'],
 '106880': ['P61586'],
 '106881': ['P62745'],
 '106882': ['P08134'],
 '106883': ['P61587'],
 '106884': ['P84095'],
 '106885': ['Q07960'],
 '106886': ['P98171'],
 '106887': ['Q13017'],
 '106888': ['O43182'],
 '106889': ['P52565'],
 '106890': ['P52566'],
 '106891': ['Q99819'],
 '106892': ['Q15669'],
 '106893': ['P40616'],
 '106894': ['O14813'],
 '106895': ['P36404'],
 '106896': ['P36405'],
 '106898': ['P27540'],
 '106899': ['O00327'],
 '106900': ['P36575'],
 '106901': ['P49407'],
 '106902': ['P32121'],
 '106903': ['P15289'],
 '106904': ['P15848'],
 '106905': ['P08842'],
 '106908': ['P51690'],
 '106909': ['P54793'],
 '106912': ['Q13508'],
 '106913': ['Q93070'],
 '106914': ['O00192'],
 '106920': ['Q13510'],
 '106921': ['P50553'],
 '106922': ['Q99929'],
 '106924': ['P07306'],
 '106925': ['P07307'],
 '106927': ['P04424'],
 '106931': ['O43681'],
 '106932': ['P08243'],
 '106935': ['P45381'],
 '106936': ['Q12797'],
 '106937': ['P00966'],
 '106953': ['P01008'],
 '106954': ['Q15911'],
 '106956': ['P18846'],
 '106957': ['P18847'],
 '106958': ['P18848'],
 '106961': ['P31939'],
 '106962': ['Q13315'],
 '106963': ['Q9P2R6'],
 '106964': ['Q92858'],
 '106965': ['O00244'],
 '106966': ['P05023'],
 '106967': ['P50993'],
 '106968': ['P13637'],
 '106969': ['P54707'],
 '106970': ['Q13733'],
 '106971': ['P05026'],
 '106972': ['P14415'],
 '106973': ['P54709'],
 '106977': ['O14983'],
 '106978': ['P16615'],
 '106979': ['Q93084'],
 '106980': ['P20020'],
 '106981': ['Q01814'],
 '106982': ['Q16720'],
 '106983': ['P23634'],
 '106985': ['P20648'],
 '106986': ['P51164'],
 '106987': ['P25705'],
 '106990': ['P49419'],
 '106994': ['P06576'],
 '106997': ['P36542'],
 '106998': ['P30049'],
 '106999': ['P56381'],
 '107000': ['P24539'],
 '107001': ['P05496'],
 '107002': ['Q06055'],
 '107003': ['P48201'],
 '107005': ['P56385'],
 '107006': ['P18859'],
 '107007': ['P38606'],
 '107008': ['P15313'],
 '107009': ['P21281'],
 '107010': ['P27449'],
 '107011': ['P21283'],
 '107012': ['P36543'],
 '107016': ['Q99437'],
 '107017': ['O95670'],
 '107018': ['Q93050'],
 '107019': ['Q15904'],
 '107020': ['Q04656'],
 '107021': ['P48047'],
 '107022': ['P35670'],
 '107027': ['Q13535'],
 '107028': ['P46100'],
 '107029': ['Q12756'],
 '107030': ['Q13825'],
 '107031': ['Q9Y679'],
 '107032': ['P01185'],
 '107033': ['P37288'],
 '107034': ['P47901'],
 '107035': ['P30518'],
 '107036': ['P30530'],
 '107040': ['P25311'],
 '107043': ['P20160'],
 '107044': ['P61769'],
 '107046': ['Q14032'],
 '107047': ['O14867'],
 '107048': ['Q92934'],
 '107049': ['Q99933'],
 '107050': ['Q13072'],
 '107051': ['O14514'],
 '107052': ['O60241'],
 '107053': ['O60242'],
 '107054': ['Q16611'],
 '107055': ['P78367'],
 '107056': ['Q99728'],
 '107057': ['Q07812'],
 '107058': ['Q8NFJ9'],
 '107059': ['Q9BXC9'],
 '107060': ['Q96RK4'],
 '107061': ['P54687'],
 '107062': ['O15382'],
 '107064': ['P06276'],
 '107065': ['P12694'],
 '107066': ['P21953'],
 '107067': ['P24385'],
 '107068': ['P10415'],
 '107069': ['Q16548'],
 '107070': ['Q07817'],
 '107071': ['Q92843'],
 '107074': ['P20749'],
 '107076': ['P41182'],
 '107077': ['Q4VC05'],
 '107079': ['O00512'],
 '107080': ['Q02223'],
 '107081': ['Q9UL51'],
 '107083': ['P11274'],
 '107087': ['Q9Y276'],
 '107091': ['Q02338'],
 '107093': ['P30411'],
 '107096': ['P23560'],
 '107098': ['P00751'],
 '107100': ['Q12934'],
 '107101': ['P02818'],
 '107102': ['P21810'],
 '107103': ['P13688'],
 '107104': ['Q93088'],
 '107105': ['Q96G01'],
 '107106': ['P55957'],
 '107107': ['Q13323'],
 '107108': ['O75626'],
 '107109': ['P51451'],
 '107110': ['P54132'],
 '107111': ['Q13867'],
 '107112': ['P32302'],
 '107113': ['P53004'],
 '107114': ['P30043'],
 '107115': ['Q01954'],
 '107117': ['P13497'],
 '107118': ['P12643'],
 '107119': ['P12645'],
 '107120': ['P12644'],
 '107121': ['P22003'],
 '107122': ['P22004'],
 '107123': ['P18075'],
 '107124': ['P34820'],
 '107125': ['P36894'],
 '107126': ['O00238'],
 '107127': ['Q13873'],
 '107128': ['P51813'],
 '107129': ['P05423'],
 '107130': ['Q12981'],
 '107131': ['Q12982'],
 '107132': ['Q12983'],
 '107133': ['O60238'],
 '107134': ['Q9UMX3'],
 '107135': ['Q03001'],
 '107136': ['P58012'],
 '107137': ['P07738'],
 '107138': ['Q86WA6'],
 '107140': ['P38398'],
 '107141': ['P15056'],
 '107142': ['P51587'],
 '107143': ['Q58F21'],
 '107144': ['Q07352'],
 '107145': ['P47974'],
 '107147': ['P35613'],
 '107148': ['Q10588'],
 '107149': ['Q10589'],
 '107150': ['P35070'],
 '107151': ['P43251'],
 '107152': ['Q13886'],
 '107153': ['Q13887'],
 '107154': ['P20290'],
 '107159': ['P62324'],
 '107160': ['Q06187'],
 '107161': ['Q13410'],
 '107164': ['O43683'],
 '107166': ['O60566'],
 '107167': ['Q13895'],
 '107168': ['P30536'],
 '107169': ['Q07021'],
 '107171': ['P05155'],
 '107173': ['P02745'],
 '107174': ['P02746'],
 '107175': ['P02747'],
 '107176': ['P00736'],
 '107177': ['P09871'],
 '107178': ['P06681'],
 '107179': ['P01024'],
 '107180': ['Q16581'],
 '107182': ['P0C0L5'],
 '107183': ['P04003'],
 '107186': ['P20851'],
 '107187': ['O15484'],
 '107188': ['P01031'],
 '107189': ['P21730'],
 '107190': ['P13671'],
 '107191': ['P10643'],
 '107192': ['P07357'],
 '107193': ['P07358'],
 '107194': ['P07360'],
 '107195': ['Q9Y236'],
 '107196': ['P02748'],
 '107197': ['Q9UID3'],
 '107199': ['Q13405'],
 '107200': ['Q9UHR6'],
 '107202': ['Q15777'],
 '107204': ['P61165'],
 '107205': ['Q9Y4D2'],
 '107208': ['O95466'],
 '107209': ['O15165'],
 '107210': ['P53801'],
 '107211': ['O43822'],
 '107212': ['P56557'],
 '107213': ['O15442'],
 '107214': ['P00915'],
 '107215': ['P00918'],
 '107216': ['P07451'],
 '107217': ['P22748'],
 '107218': ['P35218'],
 '107220': ['P23280'],
 '107222': ['P35219'],
 '107223': ['Q16790'],
 '107224': ['O75493'],
 '107225': ['O43570'],
 '107227': ['O00555'],
 '107228': ['Q00975'],
 '107229': ['Q13936'],
 '107230': ['Q01668'],
 '107231': ['Q15878'],
 '107232': ['O60840'],
 '107233': ['Q13698'],
 '107234': ['Q08345'],
 '107235': ['P54289'],
 '107236': ['Q02641'],
 '107237': ['Q08289'],
 '107238': ['P54284'],
 '107239': ['O00305'],
 '107240': ['Q06432'],
 '107241': ['O43772'],
 '107243': ['P27708'],
 '107244': ['P05937'],
 '107245': ['P22676'],
 '107246': ['P29377'],
 '107247': ['P01258', 'P06881'],
 '107248': ['P10092'],
 '107250': ['P30988'],
 '107251': ['Q05682'],
 '107261': ['P27482'],
 '107262': ['P27797'],
 '107263': ['O43852'],
 '107264': ['Q16566'],
 '107265': ['Q9UQM7'],
 '107266': ['Q13554'],
 '107267': ['Q13557'],
 '107268': ['Q13555'],
 '107269': ['P49069'],
 '107270': ['P49913'],
 '107271': ['P27824'],
 '107272': ['P40121'],
 '107273': ['P07384'],
 '107274': ['P17655'],
 '107275': ['P20807'],
 '107276': ['P04632'],
 '107277': ['Q9Y6Q1'],
 '107278': ['Q13938'],
 '107279': ['P52907'],
 '107280': ['P47755'],
 '107281': ['P20810'],
 '107282': ['P47756'],
 '107283': ['P49589'],
 '107284': ['P29466'],
 '107285': ['P42575'],
 '107286': ['P42574'],
 '107287': ['P49662'],
 '107288': ['P51878'],
 '107289': ['P55212'],
 '107290': ['P55210'],
 '107291': ['Q14790'],
 '107292': ['P55211'],
 '107293': ['Q92851'],
 '107294': ['P31415'],
 '107295': ['O14958'],
 '107296': ['P41180'],
 '107297': ['P04040'],
 '107305': ['Q03135'],
 '107306': ['P51636'],
 '107307': ['P56539'],
 '107308': ['Q13950'],
 '107309': ['Q01196'],
 '107310': ['Q06455'],
 '107311': ['O75081'],
 '107312': ['Q13761'],
 '107313': ['Q13951'],
 '107314': ['P08185'],
 '107315': ['P22681'],
 '107316': ['Q13191'],
 '107318': ['P50454'],
 '107319': ['P16152'],
 '107320': ['O75828'],
 '107324': ['Q13939'],
 '107326': ['Q16773'],
 '107327': ['P06307'],
 '107328': ['P32238'],
 '107329': ['P32239'],
 '107330': ['O00522'],
 '107331': ['P20248'],
 '107332': ['P14635'],
 '107333': ['P24863'],
 '107334': ['P30279'],
 '107336': ['P30281'],
 '107338': ['P24864'],
 '107339': ['P41002'],
 '107340': ['P51959'],
 '107341': ['Q16589'],
 '107342': ['P51946'],
 '107343': ['O60563'],
 '107344': ['O60583'],
 '107346': ['P40227'],
 '107347': ['P06126'],
 '107348': ['P29016'],
 '107350': ['P15813'],
 '107351': ['P15812'],
 '107352': ['P06729'],
 '107353': ['P04234'],
 '107354': ['P07766'],
 '107355': ['P09693'],
 '107357': ['P20963'],
 '107358': ['P01730'],
 '107359': ['P06127'],
 '107361': ['P30203'],
 '107362': ['P09564'],
 '107363': ['P01732'],
 '107364': ['P10966'],
 '107366': ['P21926'],
 '107367': ['P08571'],
 '107368': ['P15391'],
 '107369': ['P11836'],
 '107370': ['Q96HJ5'],
 '107371': ['P20273'],
 '107372': ['P25063'],
 '107377': ['P26842'],
 '107378': ['P10747'],
 '107379': ['P33681'],
 '107380': ['P42081'],
 '107381': ['P28908'],
 '107382': ['P32971'],
 '107383': ['P20138'],
 '107384': ['O43699'],
 '107385': ['P28906'],
 '107386': ['P16671'],
 '107387': ['Q8WTV0'],
 '107388': ['Q14108'],
 '107390': ['P28907'],
 '107391': ['P49961'],
 '107392': ['Q9Y5L3'],
 '107393': ['O75354'],
 '107394': ['O75355'],
 '107395': ['O75356'],
 '107396': ['P25942'],
 '107397': ['P29965'],
 '107398': ['P16070'],
 '107399': ['Q08722'],
 '107400': ['P09326'],
 '107401': ['P19397'],
 '107403': ['P19256'],
 '107404': ['P13987'],
 '107405': ['P08962'],
 '107406': ['P34810'],
 '107407': ['Q07108'],
 '107408': ['P32970'],
 '107409': ['P21854'],
 '107410': ['P04233'],
 '107411': ['P11912'],
 '107412': ['P40259'],
 '107413': ['P60033'],
 '107414': ['P48960'],
 '107415': ['P48509'],
 '107416': ['P32320'],
 '107420': ['P06493'],
 '107421': ['P21127'],
 '107423': ['P50851'],
 '107424': ['Q99459'],
 '107425': ['Q16181'],
 '107426': ['Q99741'],
 '107427': ['Q12834'],
 '107428': ['P30304'],
 '107429': ['P30305'],
 '107430': ['P30307'],
 '107431': ['P30260'],
 '107432': ['P49427'],
 '107433': ['P60953'],
 '107434': ['P12830'],
 '107435': ['P19022'],
 '107436': ['P22223'],
 '107437': ['P55283'],
 '107438': ['P33151'],
 '107439': ['P55285'],
 '107440': ['Q9ULB5'],
 '107441': ['P55286'],
 '107442': ['Q9ULB4'],
 '107443': ['Q9Y6N8'],
 '107444': ['P55287'],
 '107445': ['P55289'],
 '107447': ['P55290'],
 '107448': ['P55291'],
 '107449': ['O75309'],
 '107451': ['Q13634'],
 '107452': ['P24941'],
 '107453': ['Q00526'],
 '107454': ['P11802'],
 '107455': ['Q00535'],
 '107456': ['Q00534'],
 '107457': ['P50613'],
 '107458': ['P49336'],
 '107459': ['P50750'],
 '107460': ['P38936'],
 '107461': ['P46527'],
 '107462': ['P49918'],
 '107463': ['P42771', 'Q8N726'],
 '107464': ['P42772'],
 '107465': ['P42773'],
 '107466': ['P55273'],
 '107467': ['Q16667'],
 '107468': ['Q16878'],
 '107469': ['P51861'],
 '107470': ['Q01850'],
 '107471': ['Q92903'],
 '107472': ['Q15517'],
 '107473': ['P31358'],
 '107474': ['P47902'],
 '107475': ['Q99626'],
 '107476': ['O14627'],
 '107477': ['O14967'],
 '107478': ['P06731'],
 '107479': ['P49715'],
 '107480': ['P17676'],
 '107481': ['P49716'],
 '107482': ['Q15744'],
 '107483': ['P53567'],
 '107487': ['P49450'],
 '107488': ['P07199'],
 '107489': ['Q03188'],
 '107491': ['Q02224'],
 '107492': ['P49454'],
 '107494': ['P23141'],
 '107495': ['Q12798'],
 '107496': ['P41208'],
 '107497': ['O15182'],
 '107498': ['P11597'],
 '107499': ['P23528'],
 '107500': ['Q9Y281'],
 '107502': ['P53634'],
 '107506': ['P13569'],
 '107507': ['P01215'],
 '107513': ['Q14002'],
 '107514': ['P31997'],
 '107526': ['O15335'],
 '107527': ['O95199'],
 '107528': ['P28329'],
 '107529': ['P18754'],
 '107530': ['O14646'],
 '107531': ['O14647'],
 '107532': ['Q12873'],
 '107533': ['Q14839'],
 '107534': ['P17516'],
 '107536': ['O14757'],
 '107537': ['O00409'],
 '107538': ['P10645'],
 '107539': ['P05060'],
 '107540': ['P36222'],
 '107541': ['Q15782'],
 '107542': ['Q13231'],
 '107543': ['P35790'],
 '107544': ['Q9Y259'],
 '107545': ['P24386'],
 '107546': ['P26374'],
 '107547': ['P15882'],
 '107548': ['P52757'],
 '107550': ['P11229'],
 '107551': ['P08172'],
 '107552': ['Q99698'],
 '107553': ['P20309'],
 '107554': ['P08173'],
 '107556': ['P02708'],
 '107558': ['P32297'],
 '107559': ['P43681'],
 '107560': ['P30532'],
 '107561': ['P36544'],
 '107564': ['Q05901'],
 '107565': ['P30926'],
 '107566': ['Q07001'],
 '107567': ['Q04844'],
 '107568': ['P07510'],
 '107569': ['O15111'],
 '107570': ['O60543'],
 '107572': ['P12277'],
 '107573': ['Q14011'],
 '107574': ['Q9NSE2'],
 '107575': ['Q99426'],
 '107578': ['P06732'],
 '107580': ['P17540'],
 '107581': ['Q13216'],
 '107582': ['P61024'],
 '107583': ['P33552'],
 '107587': ['Q96CW1'],
 '107588': ['P61966'],
 '107589': ['P53680'],
 '107590': ['Q92572'],
 '107592': ['Q05315'],
 '107593': ['A8K7I4'],
 '107594': ['P35523'],
 '107595': ['P51788'],
 '107596': ['P51790'],
 '107598': ['P51795'],
 '107599': ['P51797'],
 '107600': ['P51798'],
 '107601': ['P51800'],
 '107603': ['P10909'],
 '107604': ['O00299'],
 '107605': ['O15247'],
 '107606': ['P49759'],
 '107607': ['P49760'],
 '107609': ['P49761'],
 '107611': ['O14773'],
 '107612': ['Q13286'],
 '107614': ['O75503'],
 '107617': ['P54105'],
 '107618': ['P04118'],
 '107619': ['O96005'],
 '107621': ['P09496'],
 '107622': ['P09497'],
 '107623': ['Q00610'],
 '107624': ['P23946'],
 '107635': ['P32246'],
 '107637': ['P51677'],
 '107638': ['P51679'],
 '107639': ['P51681'],
 '107640': ['P51684'],
 '107641': ['P32248'],
 '107643': ['O00590'],
 '107645': ['Q15722'],
 '107647': ['Q92887'],
 '107658': ['Q14028'],
 '107659': ['P29973'],
 '107661': ['Q16281'],
 '107663': ['Q9H4B4'],
 '107664': ['P51911'],
 '107665': ['Q99439'],
 '107666': ['Q15417'],
 '107667': ['P09543'],
 '107668': ['P21554'],
 '107670': ['P26441'],
 '107671': ['P26992'],
 '107672': ['Q12860'],
 '107674': ['P02452'],
 '107675': ['P08123'],
 '107677': ['P02458'],
 '107678': ['P02461'],
 '107679': ['P02462'],
 '107681': ['P08572'],
 '107682': ['Q01955'],
 '107684': ['P29400'],
 '107685': ['Q14031'],
 '107686': ['P20908'],
 '107687': ['P05997'],
 '107688': ['P12109'],
 '107689': ['P12110'],
 '107690': ['P12111'],
 '107691': ['Q02388'],
 '107692': ['P27658'],
 '107693': ['P25067'],
 '107694': ['P20849'],
 '107695': ['Q14055'],
 '107696': ['Q14050'],
 '107697': ['Q03692'],
 '107698': ['P12107'],
 '107699': ['P13942'],
 '107700': ['Q99715'],
 '107702': ['P39059'],
 '107704': ['Q9UMD9'],
 '107705': ['Q14993'],
 '107706': ['P49747'],
 '107707': ['P21964'],
 '107709': ['P53621'],

In [57]:
## Merge dictionaries

In [58]:
dict_repeats.update(dict_singles)

In [59]:
len(dict_repeats)

16194

In [60]:
dict_biogrid = dict_repeats

In [61]:
del dict_repeats
del dict_singles

## Convert BioGrid ids to uniprot

In [62]:
df_human_exp.head()

   BiogridA  BiogridB ExperimentalSystem Score  PubmedId
0    112315    108607           physical     -   9006895
1    124185    106603           physical     -  11309420
2    106605    108625           physical     -   8599089
3    108894    111384           physical     -  10938104
4    112038    112651           physical     -  10875894

In [63]:
def getProtein(x):
    try:
        return dict_biogrid[x]
    except KeyError:
        return "NNN"

In [167]:
df_human_exp['ProtA']= df_human_exp['BiogridA'].apply(lambda x: getProtein(str(x)))

In [65]:
df_human_exp['ProtB']= df_human_exp['BiogridB'].apply(lambda x: getProtein(str(x)))

In [178]:
df_human_exp['P1'] = df_human_exp['ProtA'].apply(lambda x: str(x).strip('[]') if len(x)==1 else x)

In [180]:
df_human_exp['P2'] = df_human_exp['ProtB'].apply(lambda x: str(x).strip('[]') if len(x)==1 else x)

In [181]:
df_human_exp.head(30)

,BiogridA,BiogridB,ExperimentalSystem,Score,PubmedId,ProtA,ProtB,NumProteins,P1,P2
0,112315,108607,physical,-,9006895,[P45985],[Q14315],"(1, 1)",'P45985','Q14315'
1,124185,106603,physical,-,11309420,[Q86TC9],[P35609],"(1, 1)",'Q86TC9','P35609'
2,106605,108625,physical,-,8599089,[Q04771],[P49354],"(1, 1)",'Q04771','P49354'
3,108894,111384,physical,-,10938104,[P23769],[P29590],"(1, 1)",'P23769','P29590'
4,112038,112651,physical,-,10875894,[P15927],[P40763],"(1, 1)",'P15927','P40763'
5,106870,116775,physical,-,10747089,[P84077],[Q9NZ52],"(1, 1)",'P84077','Q9NZ52'
6,106872,117174,physical,-,9038142,[P61204],[P53365],"(1, 1)",'P61204','P53365'
7,106872,118084,physical,-,9038142,[P61204],[P53367],"(1, 1)",'P61204','P53367'
8,119970,106728,physical,-,15231747,[Q8IZH2],[P04075],"(1, 1)",'Q8IZH2','P04075'
9,106848,115769,physical,-,9843960,[P05067],[Q92624],"(1, 1)",'P05067','Q92624'
10,106830,107970,physical,-,10460257,[P51693],[O75553],"(1, 1)",'P51693','O75553'
11,115649,112878,physical,-,12586840,[Q99967],[P05549],"(1, 1)",'Q99967','P05549'
12,108347,112878,physical,-,12586840,[Q09472],[P05549],"(1, 1)",'Q09472','P05549'
13,106835,110641,physical,-,9915855,[P04114],[P55157],"(1, 1)",'P04114','P55157'
14,106902,111836,physical,-,12105416,[P32121],[Q12967],"(1, 1)",'P32121','Q12967'
15,107823,109142,physical,-,9380408,[P07333],[P62993],"(1, 1)",'P07333','P62993'
16,113646,109142,physical,-,14667819,[P48634],[P62993],"(1, 1)",'P48634','P62993'
17,118104,110758,physical,-,15231747,[O15116],[O43776],"(1, 1)",'O15116','O43776'
18,112412,116605,physical,-,9422766,[P02730],[Q9BWU0],"(1, 1)",'P02730','Q9BWU0'
19,107074,107056,physical,-,10362352,[P20749],[Q99728],"(1, 1)",'P20749','Q99728'
20,106662,115978,physical,-,12724327,[P08588],[O14908],"(1, 1)",'P08588','O14908'
21,107140,106956,physical,-,10945975,[P38398],[P18846],"(1, 1)",'P38398','P18846'
22,107140,110573,physical,-,11498787,[P38398],[P43246],"(1, 1)",'P38398','P43246'
23,107140,107056,physical,-,8944023,[P38398],[Q99728],"(1, 1)",'P38398','Q99728'
24,107140,109211,physical,-,11498787,[P38398],[P52701],"(1, 1)",'P38398','P52701'
25,106914,107448,physical,-,11058098,[O00192],[P55291],"(1, 1)",'O00192','P55291'
26,111125,107229,physical,-,11461190,[P61457],[Q13936],"(1, 1)",'P61457','Q13936'
27,111643,107273,physical,-,9852298,[P49810],[P07384],"(1, 1)",'P49810','P07384'
28,107275,113124,physical,-,9642272,[P20807],[Q8WZ42],"(1, 1)",'P20807','Q8WZ42'
29,109913,107222,physical,-,12611586,[Q14643],[P35219],"(1, 1)",'Q14643','P35219'

In [182]:
df_human_exp.to_csv("biogrid_human_ppi_28_06_2019.tab", encoding='utf8', sep='\t')

In [172]:
df_human_exp.dtypes

BiogridA               int64
BiogridB               int64
ExperimentalSystem    object
Score                 object
PubmedId               int64
ProtA                 object
ProtB                 object
NumProteins           object
P1                    object
dtype: object

In [72]:
df_human_exp["NumProteins"] = df_human_exp[['ProtA', 'ProtB']].\
    apply(lambda x: (len(x[0]), len(x[1])), axis=1)

In [75]:
df_human_exp.NumProteins.unique()

array([(1, 1), (1, 2), (1, 3), (2, 1), (3, 1), (2, 3), (2, 2), (3, 3),
       (4, 1), (1, 4), (3, 2), (3, 4), (4, 4), (4, 3), (2, 4)],
      dtype=object)

In [68]:
# df_human_exp.loc[df_human_exp['Score'] > '0.5']

In [70]:
len(df_human_exp["PubmedId"].unique())

26529

In [66]:
%who

Datadir	 HTTPError	 biogridfile	 datetime	 df	 df_human	 df_human_exp	 df_repeats	 df_repeats_split
dfmap	 dfsingle	 dict_biogrid	 getProtein	 human_mask	 i	 id	 idgroup	 ids
infile	 lsN	 lsa	 lsb	 lsfull	 mappedfile	 np	 os	 pd
pickle	 protein	 row	 sub_mask	 sys	 time	 time_stamper

In [67]:
df_human_exp.dtypes

BiogridA               int64
BiogridB               int64
ExperimentalSystem    object
Score                 object
PubmedId               int64
ProtA                 object
ProtB                 object
dtype: object

In [68]:
df_human_exp['Score']=df_human_exp.Score.str.replace("-", "100.0", regex=True)

In [76]:
# df_human_exp.loc[df_human_exp.Score == '100.0']

## Create a mapping dictionary object

In [ ]:
idgroup = dfmap.groupby(['BiogridID'])['UniprotID']

In [ ]:
dict_biogrid = {k:list(v) for k, v in idgroup}

In [ ]:
dict_biogrid

In [ ]:
# dfmap.loc[(dfmap['BiogridID'] > '107180') & (dfmap['BiogridID'] < '107185')]

In [ ]:
lsboth = set(lsa).intersection(set(lsb))

In [ ]:
lsBiogridProts = list(lsfull)[:]

In [ ]:
len(lsboth)

In [ ]:
lsBiogridProts.__len__()

## Break Long Lists into Chunks

In [ ]:
def chunks(l, n=1000):
    for i in range(0, len(l), n):
        yield l[i:i+n]

In [ ]:
lschunks = chunks(lsBiogridProts)
topchunks = (i[:10] for i in lschunks)

try:
    mapped = (idc.idmapping('BIOGRID_ID', 'ACC', lsids=j) for j in topchunks)
except KeyboardInterrupt as ke:
    print("Interrupted by the user")

In [ ]:
# next(mapped)

In [ ]:
!ls

## Process chunks

In [ ]:
%%time
def process_chunks(idfro, idto, lstchunks):
    count = 0
    for chunk in lstchunks:
        print(len(chunk))
#         time.sleep(2)
        count +=1
#         yield len(chunk)
#         print("processing chunk_{}...".format(count))
# #         yield chunk[:10]
#         yield idc.idmapping(idfro,idto, lsids=chunk)

In [ ]:
%%time
my_chunks =  process_chunks('BIOGRID_ID', 'ACC', lsChunks)

In [ ]:
my_chunks

In [ ]:
list(p)

In [ ]:
!ls

In [ ]:
%%time
idc.idmapping('BIOGRID_ID','ACC', lsids=lsBiogridProts)

In [ ]:
!ls

In [ ]:
!cut -f 1,2 result_mapped.txt | head

In [ ]:
" ".join(list(map(lambda x: str(x), IDLIST)))

In [ ]:
idc.idconversion.IDLIST

In [ ]:
la = (i for i in range(10))

In [ ]:
next(la)

In [ ]:
squares = (i**2 for i in la)

In [116]:
data = [['1','2', 0.5], ['2','3',0.6], ['1','3', 0.8], ['3','69', 0.9]]

In [117]:
dataB = [['1','2', 0.2], ['2','3',0.9], ['1','3',0.7], ['4','20',0.8]]

In [119]:
dfA = pd.DataFrame(data, columns=['prot1', 'prot2', 'score'])

In [120]:
dfA

  prot1 prot2  score
0     1     2    0.5
1     2     3    0.6
2     1     3    0.8
3     3    69    0.9

In [121]:
dfB = pd.DataFrame(dataB, columns=['prot1', 'prot2', 'score'])

In [122]:
dfB

  prot1 prot2  score
0     1     2    0.2
1     2     3    0.9
2     1     3    0.7
3     4    20    0.8

In [159]:
dfC = pd.merge(dfA, dfB,  how='left', left_on=list(set(['prot1','prot2'])), right_on = list(set(['prot2','prot1'])))

In [160]:
dfC

  prot1 prot2  score_x  score_y
0     1     2      0.5      0.2
1     2     3      0.6      0.9
2     1     3      0.8      0.7
3     3    69      0.9      NaN

In [149]:
from functools import reduce

In [ ]:
## Aggregate scores from different methods

In [154]:
def naive_score(*args):
    scores = []
    for arg in args:
        scores.append(1.0-arg)
    return 1-reduce(lambda x, y: (x*y), scores )

In [156]:
naive_score(0.6, 0.9)

0.96

In [147]:
# dfC["total_score"] = dfC[['score_x', 'score_y']].apply(lambda x: (1-(1-x[0])*(1-x[1])), axis=1)

In [161]:
dfC["total_score"] = dfC[['score_x', 'score_y']].apply(lambda x: naive_score(*x), axis=1)

In [162]:
dfC

  prot1 prot2  score_x  score_y  total_score
0     1     2      0.5      0.2         0.60
1     2     3      0.6      0.9         0.96
2     1     3      0.8      0.7         0.94
3     3    69      0.9      NaN          NaN